<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}the title{% endblock %}</title>
    <meta charset="utf-8" />
    <link href="/static/css/main.css" type="text/css" rel="stylesheet">
</head>

<body>
    {% block body %}the body goes here{% endblock %}
</body>

</html>


<!DOCTYPE html>
<html>
<body>

<div id="container" style="width:1000px">

<div id="header" style="background-color:#3333FF;">
<h1 style="margin-bottom:0;">Welcome to NYC-EL!</h1></div>

<div id="menu" style="background-color:#33CC99;height:500px;width:400px;float:left;">
<b>NYC</b><br>
Hong Kong<br>
Tokyo<br>
Mexico CIty</div>

<div id="content" style="background-color:#FFFFFF;height:200px;width:400px;float:left;">
Welcome to NYC-EL! Here you can take a look at the different train and railroad systems all over the world. </div>

<div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
</div>

</div>

</body>
</html> 
