<!DOCTYPE html>
<html>

<head>
    <title>NYC-EL</title>
    <meta charset="utf-8" />
    <link href="/static/css/main.css" type="text/css" rel="stylesheet">
</head>

<body>


<div id="container" style="width:800px">

<div id="header" style="background-color:#3333FF;">
<h1 style="margin-bottom:0;"><center>Welcome to NYC-EL!</center></h1></div>

<div id="menu" style="background-color:#33CC99;height:500px;width:200px;float:left;">
<b>NYC</b><br>
Hong Kong<br>
Tokyo<br>
Mexico CIty</div>

<div id="content" style="background-color:#D8D8D8;height:200px;width:200px;float:left;">
Welcome to NYC-EL! Here you can take a look at the different train and railroad systems all over the world. </div>

<div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
</div>

</div>

</body>
</html> 


