<!--<form action - "file:///C:/Users/katyauchter"-->

{% extends "base.html" %}

{% block body %}

<fieldset>
	<legend>Name of City: </legend>
	<label> Name of City: <input type = "text" name="city_name" placeholder= "Name of City"/></label>
</fieldset>


<fieldset>
	<legend> Population</legend>
	<label> City Population: <input type ="text" name= "citypop" placeholder= "Population of City"/></label>
</fieldset>


<fieldset>
	<legend>Square Miles of City</legend>
	<label> Square Miles of City: <input type = "text" name= "miles_of_city" placeholder= "Sq mi of city"/></label>

</fieldset>


<field>
	<legend>Square Miles Track</legend>
	<label> Square Miles Track <input type= "text" name="squaremiles" placeholder="Track Mileage"/></label>
</field>


<field>
	<legend> Average Annual Riders</legend>
	<label> Average Annual Riders <input type= "int" name="average riders" placeholder= "Average Riders per Year"/></label>
</field>


<field>
	<legend>Cost Tix: </legend>
	<input id="ticket_cost1" type="radio" name="cost_tix" value="true">
		<label for="cost_tix1">$0-1 Dollars/ride</label>
	<input id="ticket_cost2" type="radio" name="cost_tix" value= "false">
		<label for="cost_tix2">$2-3 Dollars/ride</label>
</fieldset>



<field>
	<legend>Number of Stations</legend>
	<input id=""
</field>
{%end block%}

