
<script type="text/javascript">
// Popup window code
function newPopup(url) {
	popupWindow = window.open(
		url,'popUpWindow','height=700,width=800,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
}
</script>
<a href="JavaScript:newPopup('http://www.google.com');">This will create pop-up windows.</a>

<head>
   <title>NYC-EL</title>
     <meta charset="utf-8" />
     <link href="nycel.css" type="text/css" rel="stylesheet">
</head>

<body>
<center>

<section id="main view">
<div id="container" style="width:1020px">

<div id="header" style="background-color:#3333FF;">
<h1 style="margin-bottom:0;"><center>Welcome to NYC-EL!</center></h1></div>

<section id="menu">
<div id="menu" style="background-color:#33CC99;height:500px;width:100px;float:left;">
<b>NYC</b><br>
Hong Kong<br>
Tokyo<br>
Mexico City</div>

<section id=content">
<div id="content" style="background-color:#FFFFFF;height:400px;width:850px;float:left;">
<center><b>Welcome to NYC-EL! Here you can take a look at some of the top train and railroad systems of the world.</b></center>
<br>
<br>
<img src="img/dubaitrain.jpg"
alt="Dubai train" width= "225" height= "200" class= "round small">
<img src="img/tokyotrain.jpg"
alt="Tokyo train" width= "225" height= "200" class= "round small">
<img src="img/hongkongtrain.jpg"
alt="Hong Kong train" width= "225" height= "200" class= "round small">
<br>
<img src="img/nyctrain.jpg"
alt="NYC train" width= "225" height= "200" class= "round small">
<img src="img/mexicocitytrain.jpg"
alt="Mexico City train" width= "225" height= "200" class= "round small">
<img src="img/londontrain.jpg"
alt="London train" width= "225" height= "200" class= "round small">
