<H1>History</H1>

The first mode of rail transport was the Peak Tram, serving The Peak, the Mid-levels and the city centre since 1888. Tram started service along the northern coast of the Hong Kong Island in 1904. The British Section of the Kowloon-Canton Railway (now the KCR East Rail), a conventional railway, was opened in 1910. It was not until 1979 that a rapid transit system, the MTR, was opened. In 1982, the British Section of the Kowloon-Canton Railway began its transition towards electrification, with new EMUs providing rapid transit-like service. The Light Rail Transit (LRT, now the MTR Light Rail) began its operation in the Tuen Mun and Yuen Long new towns in 1988. The two railway companies, MTR Corporation Limited and Kowloon-Canton Railway Corporation, merged on 2 December 2007, to form a single rapid transit network.
There are several extensions planned or under construction, including the Sha Tin to Central Link and the Northern Link.
MTR



Causeway Bay MTR station on the Island Line.
Main article: MTR
See also: Rapid transit in Hong Kong
The MTR network comprises 10 lines, 84 railway stations and 68 Light Rail stops:
¦ East Rail Line: between Lo Wu and Lok Ma Chau and Hung Hom (formerly part of KCR/KCRC)
¦ Kwun Tong Line: between Yau Ma Tei and Tiu Keng Leng
¦ Tsuen Wan Line: between Tsuen Wan and Central
¦ Island Line: between Sheung Wan and Chai Wan
¦ Tung Chung Line: between Tung Chung and Hong Kong
¦ Tseung Kwan O Line: between Po Lam/LOHAS Park and North Point
¦ Disneyland Resort Line: between Sunny Bay and Disneyland Resort
¦ West Rail Line: between Tuen Mun to Hung Hom (formerly part of KCR/KCRC)
¦ Ma On Shan Line: between Wu Kai Sha to Tai Wai (formerly part of KCR/KCRC)
¦ Airport Express: between AsiaWorld-Expo/Airport and Hong Kong
¦ Light Rail: 68 stations serving the northwest New Territories (formerly part of KCR/KCRC)
Trams



Hong Kong Tramways map
Hong Kong Tramways: Double-decker trams, running on the north shore of Hong Kong Island from Kennedy Town to Shau Kei Wan.
Peak Tram: Actually a funicular railway with six stations, connecting Central and the Victoria Peak.
Po Fook Hill Elevator: Another tiny funicular railway with two stations, connecting the car park and the upper section of Po Fook Hill Cemetery.
Note that the KCRC Light Rail system (see above) has many of the attributes of a tramway, including street running.
Cross-border services

Main article: Guangdong Through Train
Commonly known as Through Train (chi. ???), the MTRC and railway companies of mainland China jointly provide cross-border train services from Hung Hom Station, Kowloon, sharing most of the tracks with the East Rail Line, to destinations in mainland China through neighbouring Shenzhen on three Through Train routes, namely Beijing line (to/from Beijing), Shanghai line (to/from Shanghai) and Guangdong line (to/from Zhaoqing and Guangzhou East). They are operated through the rail network in mainland China, including the Guangshen Railway and Jingguang Railway.
Automated People Mover

There is an Automated People Mover (APM),[1] a driverless electric train service, which is located at the basement level of Terminal 1 of Hong Kong International Airport. It travels the length of the 750-metre concourse between the East Hall and West Hall on a circular mode. Running at a speed of 62 km per hour, each APM carries 304 passengers in four cars. The APM operates every 2.5 minutes from 0600 to 0030 hours everyday. It transports passengers whose flights are located at the West Hall, Southwest and Northwest concourses.
Rail gauges and power supply

