<H1>Train Travel in Mexico</H1>
Before its government made cuts several years ago that all but shut down the system, Mexico had a national rail network. 
Today, in addition to three scheduled train services throughout the country, travelers in Mexico can purchase tickets on private charter trains 
as well as inter-city rail services in Mexico City, Monterrey and Guadalajara.

<H2>Chepe</H2>

Ferromex is the only remaining operator of scheduled passenger trains in Mexico. 
Its Chepe service, which visit Mexico's famous Copper Canyon, consists of 10 weekly trains between the northwest Mexican cities of Chihuahua and Los Mochis
 on two types of train, First Express and Economic Class. Both are sold as one-way only. They stop in El Fuerte, Temoris, Bahuichivo, Cuiteco, San Rafael, Posada, Diviserado, Pitorreal, Creel, San Juanito and Cuauhtemoc.

<H2>Tequila Express</H2>

The Tequila Express is the second scheduled route Ferromex operates, this one between Guadalajara and Amatitán in Jalisco state in the southwestern part
 of the country. The service, which Ferromex bills as a "tour," is offered only twice per week, although the company sells these journeys as round trips 
 rather than one-way tickets. There are no stops between cities.

Cañitas de Felipe Pescador-Torreón

If you're looking for a decidedly local train travel experience in Mexico, then Ferromex's third offering might be of interest. 
Subsidized by Zacatecas state, it serves a non-tourist population and is specifically designed for school teachers traveling between the central Mexican cities of Cañitas de Felipe Pescador and Torreón.
 It travels once a week in each direction: to Cañitas de Felipe Pescador on Fridays and to Torreón on Sundays.

<H2>Private Trains</H2>

In addition to scheduled passenger service, a small number of private train companies operate on the country's formerly bustling railroads. 
Canyon Travel, for example, operates from Mexico's western Sierra Madre mountains to scenic Copper Canyon. 
Although it uses the same tracks and follows the same itinerary as Chepe, it uses open-car train service to give passengers better views. 
The Sierra Madre Express follows a similar routine, although its dining cars focus on the glamor and hospitality of yesteryear's train travel, 
aiming for relaxation rather than adventure.

<H2>City Rail Networks</H2>

Several of the largest cities in Mexico still operate inter-city lines for transport within their respective metro areas. 
Within the Mexican capital region, which also is known as "D.F.," three train services
 -- Ferracariles Suburbanos, El Tren Ligero and the Mexico City Metro -- transport passengers from the outlying countryside and suburbia 
 into central Mexico City. 
 Metro lines similar to Mexico City's operate in the northern city of Monterrey and the southwestern city of Guadalajara.
 
 https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR81Dk9Pn1hSxrDRCM6U76CVs1tNmU-HTgroIMgcpo6AM-xlztT-g

