<H1>Getting on the Tokyo Subway</H1>

<H2>Confirming the Entrance</H2>
Tokyo Metro and Toei Subway operate the subways in Tokyo. 
At the entrance to each station, you will see the subway sign and the name of the subway station. 
Be sure to remember the station name, number, and line color (circular colored outline) of the subway line 
you want to ride.
You will see the combination of a letter (representing the line) and a number (representing the station)
 within a circular colored outline (representing the color of the line), which is called a station number. 
For more information on station numbers, click on the link below.


<H2>Buying Your Ticket</H2>
Ticket vending machine (touch screen)
http://www.tokyometro.jp/en/ride/metro/images/index_img_04.jpg

<H2>Buy your ticket at a ticket vending machine.</H2>
You can use the ticket vending machines to purchase Regular tickets, Coupon Tickets, One-day Open Tickets and PASMO IC cards.
Insert coins or bills and select the button displaying the price to your destination. (Note: Some machines do not accept ¥2,000, ¥5,000 or ¥10,000 bills.) 
Retrieve your ticket 

<H2>Entering the Fare Gate</H2>
http://www.tokyometro.jp/en/ride/metro/images/index_img_05.jpg

Insert your ticket into the slot located above the green arrow on the fare gate. DON'T FORGET to retrieve your ticket as you pass through.
If you are using a PASMO card, hold the card over the card reader on the gate, which is indicated by a blue light and has the "IC" logo on the panel. 
You will hear the beep sound the moment your card is read.

<H2>Boarding the Subway</H2>
Line up behind the white line on the platform at the guides which indicate where the doors will open when the train arrives. Wait for the alighting passengers to get off before boarding the train. Please do not rush when trying to catch the train.
Set your cell phone to silent mode and please refrain from talking on during your ride. (Turn your phone off when near courtesy seats.)
Some subway lines have adopted “women-only” cars during the morning rush hour so women and young children can ride with a sense of security.

<H2>Fair Adjustment</H2>
If you travelled further than the ticket you bought allows, pay the extra fare at a fare adjustment machine located near the fare gates. 
When you place your ticket into the machine, it will display the fare difference you owe. 
After inserting the difference, take your ticket and pass through the fare gate.
http://www.tokyometro.jp/en/ride/metro/images/index_img_06.jpg

<H2>Exiting the Fare Gate</H2>
When transferring
Orange transfer gate
http://www.tokyometro.jp/en/ride/metro/images/index_img_07.jpg
In some subway stations you must pass through the fare gates when transferring lines, even when they are both Tokyo Metro lines. 
In that case, when changing from one Tokyo Metro line to another, pass through the special orange transfer gates.
If you take longer than 30 minutes to change trains, you will need to purchase a new ticket. However, when using a PASMO IC card, 
be aware that the appropriate fare will be deducted automatically the next time you pass through an entrance gate.
Passengers are required to pass through the orange transfer gates (when exiting one line to transfer to another) at the following transfer stations:
Ueno, Mitsukoshimae, Otemachi, Ikebukuro, Iidabashi, Kudanshita, Hibiya = Yurakucho, Awajicho = Shin-ochanomizu, Ueno-hirokoji = Naka-okachimachi, Shibuya

Finding Your Exit
After exiting the fare gate, you can find your exit number on the yellow exit signs and 
on the vicinity map. 
After finding your exit number, follow the appropriate exit signs.
http://www.tokyometro.jp/en/ride/metro/images/index_img_08.jpg


