html 

{
	width: 90%;
	height: 90%%;
	margin: 0;
	list-style:none;
}
head{
	background-color: red;
	width: auto;
	height: 80px;
}

body  
{
font-family: Garamond;
font-size: 18px;
text-align:center;
width: auto;
margin: 0;
list-style: none;

}

#postcard{
	width: 550px;
	height: 105px;
	margin: 0 auto;
	background-color: black;
	border-style: thick;
	border-color: red;
	list-style: none;

}
#stats{
	width: 300px;
	height: 85px;
	float: left;
	color: green;
	background-color: yellow;
	list-style: none;

}
#mapBox{
	background: url("../img/mapWorld.png") no-repeat;
	background-position: center;
	width: 600px;
	height: 480px;
	margin: 0 auto;
	list-style: none;
}

/*img.round
{
    border-radius: 100px;
}

img:hover 
{
    height:100px;
    width: 200px;
}
*/
