html 

{
	width: 90%
	height: 90%%
	margin: 0;
}
head{
	background-color: red;
	width: auto;
	height: 80px;
}

body  
{
font-family: Garamond;
font-size: 18px;
text-align:center;
background-color: cyan;
width: 100%;
margin: 0;

}

/*img.round
{
    border-radius: 100px;
}

img:hover 
{
    height:100px;
    width: 200px;
}
*/
