html 

{
	width: 90%;
	height: 90%%;
	margin: 0;
}
header
{
    background-color: #00ff00;
    border-bottom: 3px solid black;
    color: blue;
    width: auto;
    height: 80px;
}

body  
{
font-family: Garamond;
font-size: 18px;
text-align:center;

width: auto;
margin: 0;

}

/*img.round
{
    border-radius: 100px;
}

img:hover 
{
    height:100px;
    width: 200px;
}
*/
